@model NWDWebPlayerDemo.Models.CV.CV
<div class="grid">
    <div class="col">
        <div class="card p-2">
            <div class="card-header">
                <span class="card-title"> @ViewData["Action"] your cv </span>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Save", "CV"))
                {
                    <div class="row">
                        <div class="form-group col">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group col">
                            @Html.LabelFor(model => model.Surname)
                            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Birthdate)
                        @Html.TextBoxFor(model => model.Birthdate, new { @class = "form-control", type = "date" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address)
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone)
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(m=>m.Reference)
                    @Html.HiddenFor(m => m.Reference)
                    @Html.HiddenFor(m => m.ProjectId)
                    @Html.HiddenFor(m => m.RowId)
                    <div class="form-group pt-3">
                        <input type="submit" value="@ViewData["Action"]" class="btn btn-primary"/>
                    </div>
                }
            </div>
        </div>

    </div>

</div>