@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using NWDWebRuntime.Configuration
@using NWDWebStandard.Configuration
@using NWDWebStandard.Controllers
<!-- TITLE With background -->
<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card background-corner-2">
    </div>
    <!--/.bg-holder-->
    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
                <h3><span class="fas fa-file-signature"></span> Terms and conditions</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header mb-3 border-bottom background-corner-3">
        <div class="card-title">
            Terms and conditions
        </div>
    <p class="fs--1">
        Document compliant with European rights. Complies with French, European and American legislation
    </p>
    </div>
<div class="card-body">
<div class="row">
<div class="col-lg-12 mb-3">
<div class="fs--1">
<ol>
<li>
    Objet
    <ol>
        <li>
            Les présentes Conditions Générales d’Utilisation (ci-après « les CGU ») ont pour objet de définir les modalités d’inscription et d’utilisation des Services par les Clients et Utilisateurs.
            <div>
                Par l’inscription et/ou l’utilisation du Service, les Clients et Utilisateurs déclarent accepter et s’engagent à respecter sans réserve les présentes CGU. Dans le cas où l’Utilisateur ou le Client ne souhaite pas accepter tout ou partie des présentes CGU, il ne pourra pas accéder et utiliser les Services. <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> se réserve également le droit de refuser l'accès aux Services, unilatéralement et sans notification préalable, à tout Utilisateur ou Client ne respectant pas les présentes CGU.
                <ul>
                    <li>
                        Est Utilisateur, toute personne qui se connecte sur une page du Site ou navigue sur le Site.
                    </li>
                    <li>
                        Est Client, toute personne qui souscrit un Service sur le Site @NWDWebRuntimeConfiguration.KConfig.Dns.
                    </li>
                    <li>
                        Est Client Inscrit toute personne qui bénéficie d’un identifiant et d’un mot de passe lui permettant d’accéder à son compte-client et de bénéficier de certaines fonctionnalités du Site. Pour créer un compte-client, l’Utilisateur s’inscrit sur le Site.
                    </li>
                    <li>
                        Les Services désignent l’ensemble des Services accessibles aux Utilisateurs et aux Clients sur le Site dans leur version actuelle et future ainsi que toute évolution dont il pourrait faire l’objet.
                    </li>
                    <li>
                        Le Site désigne le portail @NWDWebRuntimeConfiguration.KConfig.Dns
                    </li>
                    <li>
                        Les Produits désignent tout produit que <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> pourrait proposer à la vente sur le Site
                    </li>
                    <li>
                        Les Outils désignent les outils de passation de commandes de Services disponibles sur le Site dans les conditions définies ci-après.
                    </li>
                </ul>
            </div>
        </li>
        <li>
            Utilisation du Site et inscription (hors coût de connexion Internet restant à la charge de l'Utilisateur). Les Services sont proposés à toute personne possédant une adresse email valide.
            <div>
                <ul>
                    <li>
                        L’accès technique au site Internet @NWDWebRuntimeConfiguration.KConfig.Dns
                    </li>
                    <li>
                        Le site Internet @NWDWebRuntimeConfiguration.KConfig.Dns est conforme aux normes du langage HTML établies par la W3.
                    </li>
                    <li>
                        Il est de la responsabilité du l'internaute d'utiliser un navigateur compatible avec les normes HTML.
                    </li>
                    <li>
                        Le site Internet @NWDWebRuntimeConfiguration.KConfig.Dns est conforme aux normes du langage CSS 3.0 établies par la W3.
                    </li>
                    <l>
                        Il est de la responsabilité du l'internaute d'utiliser un navigateur compatible avec les normes CSS 3.0.
                    </l>
                    <li>
                        Le site Internet @NWDWebRuntimeConfiguration.KConfig.Dns n'est en aucun cas responsable des problèmes techniques que vous rencontrez sur votre ordinateur.
                    </li>
                    <li>
                        Le site Internet @NWDWebRuntimeConfiguration.KConfig.Dns n'est pas un programme qui s'exécute sur votre ordinateur mais une page Internet neutre dont l'accès ne peut altérer un navigateur.
                    </li>
                    <l>
                        L'accès au site Internet @NWDWebRuntimeConfiguration.KConfig.Dns nécessite l'activation de l'interprétation du langage javascript
                    </l>
                    <li>
                        L'accès au site Internet @NWDWebRuntimeConfiguration.KConfig.Dns nécessite l'activation des cookies
                    </li>
                    <li>
                        L'accès au site Internet @NWDWebRuntimeConfiguration.KConfig.Dns nécessite l'activation des sessions
                    </li>
                </ul>
            </div>
        </li>
        <li>
            Pour se connecter à son compte-client, et afin de personnaliser l’environnement de chaque client quand il est connecté à son compte-client, le Client Inscrit doit obligatoirement renseigner son adresse email ou son identifiant et un mot de passe (huit caractères minimum).

            <div>
                Le Client Inscrit doit veiller à préserver la sécurité et la confidentialité de son mot de passe. Ce mot de passe sera demandé lors de chacune de ses connexions à son compte, il est strictement personnel et confidentiel.
            </div>
            <div>
                A ce titre, le Client Inscrit reconnaît qu'il est seul responsable (envers <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> et tout tiers) de toute activité effectuée à partir de son compte-client. Il reste également le garant de l'exactitude des informations fournies.
            </div>
            <div>
                En cas de perte de son mot de passe ou d’identifiant, le Client Inscrit clique sur le lien « mot de passe oublié » et suit la procédure indiquée. Il doit immédiatement avertir <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> de toute entrave à la sécurité ou de toute utilisation non autorisée de son compte-client dont il aurait connaissance.
            </div>
            <div>
                En cas de modification de ses données personnelles, le Client Inscrit s'engage à les mettre à jour dans les plus brefs délais.
            </div>
        </li>
        <li>
            <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> se réserve le droit de modifier les présentes CGU, à tout moment sans préavis, par exemple pour les adapter aux modifications législatives et réglementaires, ou modifier les fonctionnalités proposées dans le cadre des Services.

            <div>
                Par conséquent, l'Utilisateur ou le Client s’engage à les consulter à chaque acceptation des CGU au moment de la passation de la commande. L’Utilisateur ou le Client est réputé les avoir acceptées du simple fait de l’utilisation du Site.
            </div>
        </li>
    </ol>
</li>
<li>
    Utilisation du site par des mineurs
    <div>
        Lorsque l’Utilisateur est un mineur, il déclare qu’il a recueilli l’autorisation d’utiliser les Services auprès du ou des titulaire(s) de l’autorité parentale le concernant et que le(s) titulaire(s) de l’autorité parentale a(ont) accepté d’être garant(s) du respect par l’Utilisateur mineur des CGU. Toute utilisation des Services par un Utilisateur mineur est effectuée sous l’entière responsabilité du ou des titulaire(s) de l’autorité parentale sur l’Utilisateur concerné.
    </div>
    <div>
        A défaut, pour utiliser les Services payants, l’Utilisateur doit être âgé d’au moins 18 ans, être capable juridiquement de contracter et utiliser ce Site.
    </div>
    <div>
        L’Utilisateur est responsable financièrement de l’utilisation du Site tant en son nom que pour le compte de tiers, y compris des mineurs, sauf à démontrer une utilisation frauduleuse ne résultant d’aucune faute ni négligence de sa part.
    </div>
</li>
<li>
    Paiement des services
    <div>
        <ol>
            <li>
                Validation des commandes et signature électronique (loi 2000-230 du 13 mars 2000 sur la signature électronique)
                <div>
                    Tout bon de commande signé du consommateur par "double clic" (clic sur le bouton de commande et clic sur la confirmation de commande) constitue une acceptation irrévocable qui ne peut être remise en cause que dans les limites prévues dans les présentes conditions générales de vente. Le "double clic" associé à la procédure d'authentification et de non répudiation et à la protection de l'intégrité des messages constitue une signature électronique. Cette signature électronique a valeur entre les parties au même titre qu'une signature manuscrite.
                </div>
            </li>
            <li>
                Prix et remise
                <div>
                    Les prix sont indiqués en Euros (€). Les prix des Services sont entendus toutes taxes comprises (TTC).
                    <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les tarifs en vigueur qui vous auront été indiqués au moment de votre commande.
                </div>
            </li>
            <li>
                Modalités de Paiement et Sécurisation
                <ul>
                    <li>
                        Modalités de Paiement
                        <div>
                            Le paiement des commandes en ligne s’effectue en mode sécurisé par carte bancaire ou via PayPal.
                        </div>
                        <div>
                            Les modes de paiement sont laissé au choix de l'internaute parmi une liste apparaissant lors de la commande. Le règlement par carte bancaire s'effectue au choix sur les serveurs bancaires sécurisés de nos partenaires. Ceci implique qu'aucune information bancaire vous concernant ne transite via le site internet @NWDWebRuntimeConfiguration.KConfig.Dns . Le paiement par carte bancaire est donc parfaitement sécurisé et assuré par un site bancaire. Votre commande sera ainsi enregistrée et validée dès l'acceptation du paiement.
                        </div>
                    </li>
                    <li>
                        Sécurisation des données bancaires
                        <div>
                            Les coordonnées de votre carte de crédit sont cryptées grâce au protocole Ssl (Secure Socket Layer) et ne transitent jamais en clair sur le réseau.
                        </div>
                        <div>
                            Le paiement est directement effectué auprès du réseau bancaire choisi.
                        </div>
                        <div>
                            <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> n'a en aucun cas accès à ces données.
                        </div>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</li>
<li>
    Obligations du client
    <div>
        Le Client ou l’Utilisateur s'engage à fournir les informations obligatoires requises par <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> en fonction du service utilisé et à transférer les données saisies, pour permettre le traitement de sa demande dans des conditions normales.
    </div>
    <div>
        Le Client ou l’Utilisateur est seul responsable de l'exactitude des informations fournies à <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> qui doivent être exactes et complètes.
    </div>
    <div>
        <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> ne saurait être tenue pour responsable des conséquences de quelle que nature que ce soit de toute saisie erronée, incohérente ou insuffisante. Au même titre qu'il incombe au Client de respecter le caractère confidentiel de son mot de passe et d'en gérer l'utilisation.
    </div>
</li>
<li>
    Conditions d'utilisation - restrictions
    <div>
        Le Client et/ou Utilisateur s'engagent à :
        <ul>
            <li>
                n'utiliser aucun service, aucune information, aucune application ni aucun logiciel disponible par l'intermédiaire du Site, ni y accéder, d'une manière qui n'est pas expressément autorisée par <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b>,
            </li>
            <li>
                n'introduire ni envoyer sur le Site aucune information contenant des virus, des chevaux de Troie, des vers informatiques, des bombes à retardement ou d'autres programmes informatiques conçus pour endommager, perturber, intercepter ou exproprier tout système, le Site ou les informations, ou violant les droits de propriété intellectuelle d’autrui,
            </li>
            <li>
                s'interdire d'utiliser le Site ou d'y accéder, d'une quelconque manière qui, de l'avis de <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b>, nuit à la performance ou au fonctionnement du Site ou des services de <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b>,
            </li>
        </ul>
    </div>
    <div>
        Le non-respect par l’Utilisateur et/ou le Client de l'une quelconque des obligations prévues aux présentes, autorise <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> à supprimer de plein droit et/ou à suspendre l'accès aux services en ligne, objets des présentes, sans mise en demeure préalable et sans préjudice de dommages-intérêts qu'elle pourrait réclamer.
    </div>
</li>
<li>
    Responsabilités
    <div>
        <ol>
            <li>
                Responsabilité de <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b>
                <div>
                    En aucun cas, <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> ne pourra être tenu responsable de quelque dommage immatériel et/ou indirect que ce soit, et notamment pertes de profit, pertes de bénéfice, pertes de clientèle, pertes de données, trouble commercial quelconque résultant de l'utilisation ou de l'incapacité d'utilisation des logiciels ou d'Internet, même si <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> était avisé au préalable de la possibilité de tels endommagements.
                </div>
                <div>
                    <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> ne peut être tenu responsable de tout dommage issu d'une interruption, d'un dysfonctionnement quel qu'il soit, d'une suspension ou de la cessation du Site, et ce pour quelque raison que ce soit ou encore de tout dommage matériel ou immatériel qui résulterait d'une quelconque façon de la connexion au Site et/ou de l'utilisation du système. La connexion du Client et/ou de l'Utilisateur au Site se fait sous son entière responsabilité.
                </div>
                <div>
                    <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> ne pourra en particulier être tenu responsable des dégradations éventuelles des informations, des programmes, des fichiers ou des bases de données consécutives à l'utilisation des services.
                </div>
                <div>
                    <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> ne pourra en aucun cas être tenu pour responsable des perturbations ou interruptions des réseaux d'accès à Internet, défaillance des équipements informatiques ou téléphoniques du Client et de manière plus générale, de tout événement lié aux conditions d'accès à Internet.
                </div>
            </li>
            <li>
                Responsabilité du Client ou de l'Utilisateur
                <div>
                    Le Client ou l'Utilisateur est seul responsable de l'usage fait sur le Site. Il reconnait expressément que l'utilisation du Site se fait à ses propres risques. A cet égard, il doit se conformer aux prescriptions et lois en vigueur, notamment en ce qui concerne le traitement d'informations nominatives. Le Client ou l'Utilisateur est seul responsable de l'identité qu'il décline. Toute utilisation de toute donnée réalisée à partir de l'adresse électronique du Client ou l'Utilisateur est réputée avoir été réalisée par celui-ci.
                </div>
                <div>
                    Le Client ou l'Utilisateur assume tous risques liés à une perte de profits, perte de données, erreurs, perte d'informations commerciales ou autre résultant de l'utilisation du Site. Le Client ou l'Utilisateur de ce Site prend à sa charge tous les coûts et tous les risques liés à l'utilisation du Site.
                </div>
            </li>
        </ol>
    </div>
</li>
<li>
    Conditions d'accès au site
    <div>
        <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> s’engage à faire ses meilleurs efforts pour rendre le service accessible 7 jours sur 7 et 24 heures sur 24, sauf dans l’hypothèse d’un cas de force majeure ou d’un évènement hors de son contrôle, notamment les perturbations ou interruptions des réseaux d’accès, défaillance des équipements informatiques ou téléphonique de l’Utilisateur et de manière plus générale, tout événement lié aux conditions d’accès à internet et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement de son Site.
    </div>
    <div>
        <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> n’offre aucune garantie de continuité du service et ne saurait, de ce fait, être tenue pour responsable de dommages liés à l’impossibilité temporaire d’accéder à l’un des Services proposés, pour quelque raison que ce soit.
    </div>
</li>
<li>
    Propriété intellectuelle
    <div>
        Tous les éléments (informations, données, marques, logos, photos, différentes représentations graphiques, etc.) présents sur le Site, sont la propriété exclusive de <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> et/ou de ses partenaires, et sont protégés par le droit de la Propriété Intellectuelle. Aucune licence ou autre droit d’utilisation n’est consenti à l’Utilisateur ou au Client par la simple mise en ligne par <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> notamment des contenus, marques et logos sur le Site. A ce titre, l’Utilisateur et/ou le Client s’engagent sans que cette liste ne soit limitative, à ne pas télécharger, extraire, stocker, utiliser, reproduire, vendre, communiquer, représenter, diffuser et/ou adapter le Site totalement ou partiellement ou l’un ou plusieurs de leurs contenus en tout ou partie, directement ou indirectement, sur un support quelconque, par tout moyen et sous toute forme que ce soit, sans autorisation expresse de <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> et/ou de ses partenaires le cas échéant.
    </div>
    <div>
        Toutefois, <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> consent à un droit de citation et de reproduction partielle pour l’enseignement.
    </div>
    <div>
        Le droit de lien vers une page du site est consenti implicitement à condition que le lien ne comporte aucun moyen direct ou détourné de consulter des parties privées ou soumise à des conditions particulières comme un service en ligne, une authentification, une zone d'exécution ou toutes autres pages non publiques.
    </div>
</li>
<li>
    Données personnelles
    <div>
        <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> informe les Clients et Utilisateurs que les informations nominatives et les données à caractère personnel (ci-après les « Données ») qui lui sont demandées, sont nécessaires à <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> pour traiter sa demande et exécuter les prestations de services. <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> s’engage à respecter la confidentialité des Données communiquées et à les traiter conformément à la règlementation applicable en matière de protection des données à caractère personnel. Les Données collectées ont pour destinataire <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b>.
    </div>
    <div>
        Conformément au RGPD, les données personnelles des personnes inactives depuis 3 ans sont automatiquement supprimées.
    </div>
    <div>
        Toutefois, les Données de facturation doivent être conservées dix ans en application du code de commerce, même si la personne concernée n’est plus cliente.
        Le Client peut à tout moment exercer son droit d’accès aux Données le concernant et son droit de rectification ou de suppression pour les renseignements le concernant en adressant sa demande à : @NWDWebStandardConfiguration.KConfig.SocietyName / <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> @NWDWebStandardConfiguration.KConfig.SocietyAddress - @NWDWebStandardConfiguration.KConfig.SocietyZipCode @NWDWebStandardConfiguration.KConfig.SocietyTown - @NWDWebStandardConfiguration.KConfig.SocietyCountry ou en utilisant le <a asp-area="" asp-controller="@NWDHomeController.ASP_Controller()" asp-action="@nameof(NWDHomeController.ContactUs)">formulaire de contact</a> en indiquant vos nom, prénom, adresse postale et en joignant une copie recto-verso de votre pièce d'identité .
    </div>
</li>
<li>
    Cookies
    <div>
        <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> se réserve le droit d’utiliser des cookies et/ou marqueurs aux fins suivantes : de personnalisation du Site, d’analyse de trafic, d’établissement statistiques, mais également d’être attentif aux besoins des Clients et/ou ses Utilisateurs.
    </div>
    <div>
        Un cookie est un petit bloc de données envoyé au navigateur par un serveur Web et stocké sur le disque dur de l’ordinateur. Ces fichiers stockés sur l’ordinateur servent à faciliter l’accès aux services et informations proposés et à améliorer les services personnalisés. Les cookies du Site ne contiennent pas de données permettant d’identifier personnellement le Client/ Utilisateurs, et ils sont conçus pour être utilisés uniquement par <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b>. Il est possible de s’opposer à l’enregistrement de ces « cookies » en configurant l’ordinateur ou en modifiant les paramètres du navigateur. Veuillez noter qu’en refusant les cookies l’utilisation du Site et des services proposés pourra s’en trouver limitée.
    </div>
</li>
<li>
    Régles d'usages sur internet
    <div>
        <ol>
            <li>
                Le Client ou l’Utilisateur est parfaitement informé de l'existence de règles et d'usages en vigueur sur Internet, connu sous le nom de « Nétiquette » et les différents codes de déontologie, accessibles sur Internet et dont le Client ou l’Utilisateur peut prendre connaissance à tout moment et s'engage à s'y conformer.
            </li>
            <li>
                Le Client ou l’Utilisateur déclare accepter les caractéristiques et les limites d'internet et en particulier :
                <div>
                    <ul>
                        <li>Avoir connaissance de la nature d'internet et en particulier de ses performances techniques et des temps de réponse pouvant varier notamment en fonction de l'encombrement du réseau ;</li>
                        <li>
                            Savoir que les données circulant sur Internet ne sont pas protégées notamment contre des détournements éventuels, la communication par le Client ou l’Utilisateur de toute information confidentielle sur ce réseau étant faite à ses risques et périls ;
                        </li>
                        <li>
                            Qu'il lui appartient de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels contre toute contamination par d'éventuels virus et contre toute tentative d'intrusions dans son système par des tiers ; <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> ne saurait être tenu pour responsable d'une perte de données ou d'une détérioration liée à ces données ;
                        </li>
                        <li>
                            Qu'il lui appartient de prendre toutes mesures pour que sa configuration informatique lui permette la consultation et la réception des services du Site.
                        </li>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
</li>
<li>
    Intégralité des CGU
    <div>
        Sauf stipulation expresse d'un contrat de licence ou de service séparé ou d'un autre contrat écrit entre <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> et les Clients ou Utilisateurs, les présentes CGU constituent l'intégralité du Contrat entre Client/Utilisateur et <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> en ce qui concerne l'utilisation du Site et de tout logiciel ou service, information et contenu s'y trouvant.
    </div>
</li>
<li>
    Attribution de juridiction
    <div>
        Les présentes CGU sont régies par le droit français et l'Utilisateur et/ou le Client, par son acceptation des présentes, donne irrévocablement compétence exclusive aux juridictions françaises.
    </div>
    <div>
        Le Site est conforme à la législation française, et en aucun cas, <b>@NWDWebStandardConfiguration.KConfig.WebSiteName</b> ne donne de garantie de conformité à la législation locale qui peut être applicable, dès lors que l'Utilisateur accède au Site à partir d'autres pays.
    </div>
    <div>
        Les présentes Conditions Générales d'Utilisation ne sont applicables que dans la mesure autorisée par la Loi.
    </div>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="card-footer py-3">
</div>
</div>