@using System.Reflection
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using NWDFoundation.Models
@using NWDFoundation.Tools
@using NWDFoundation.WebEdition.Attributes
@using NWDFoundation.WebEdition.Enums
@using NWDHub.Models
@using NWDWebRuntime.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? tControllerName = ViewData["ControllerName"] as string;
    string? tModelToUse = ViewData["ModelToUse"] as string;
    Type? tModel = null;
    if (tModelToUse != null)
    {
        tModel = Type.GetType(tModelToUse);
    }
    NWDProject? tResultToUse = ViewData["ResultToUse"] as NWDProject;
    Dictionary<string, string> tDictionaryToFilter = new Dictionary<string, string>();
    if (tResultToUse != null)
    {
        tDictionaryToFilter.TryAdd(nameof(NWDProjectSubObject.Project), tResultToUse.Reference.ToString());
    }
    string tDicoJson = JsonConvert.SerializeObject(tDictionaryToFilter);

    PropertyInfo? tReferenceProp = null;
    if (tModelToUse != null)
    {
        tModel = Type.GetType(tModelToUse);
    }
    if (tModel != null)
    {
        tReferenceProp = tModel.GetProperty("Reference");
    }
    string? tReference = string.Empty;
    if (tReferenceProp != null && tResultToUse != null)
    {
        ulong? tRef = (ulong?)tReferenceProp.GetValue(tResultToUse);
        if (tRef != null)
        {
            tReference = tRef.ToString();
        }
    }
}

@if (NWDWebRuntimeConfiguration.KConfig.IsDevelopment == true)
{
    <div class="text-end mb-3">
        @* <span class="ms-2 badge rounded-pill badge-subtle-success bi-check-circle"> Kortex</span> *@
        <span class="ms-2 badge rounded-pill badge-subtle-danger bi-x-circle"> Kortex</span>
    </div>
}

<div class="container p-0 m-0">
<div class="row g-3">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <partial name="/Views/Shared/_ProjectNeedPublish.cshtml" model="@tResultToUse"/>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
    <div class="card">
        <div class="card-header border-bottom background-corner-4">
            <div class="card-title">
                Description
            </div>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper.
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
    <div class="card">
        <div class="card-header mb-3 border-bottom background-corner-1">
            <div class="card-title">
                Plan
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center px-4 py-x1 bg-light rounded-3 border position-relative">
                <div class="ms-3 my-x1">
                    <h5 class="fs-0 fw-semi-bold mb-2">
                        <a class="text-900 hover-primary stretched-link" href="#!">In-Depth Helpdesk</a>
                    </h5>
                    <h6 class="mb-0 text-600">an overview of your helpdesk system</h6>
                </div>
            </div>
        </div>
        <div class="card-footer align-self-end">
            <button class="btn btn-sm btn-outline-primary"><i class="bi-shop-window"></i> Change plan</button>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDEnvironmentDevEdition" data-url='@Url.Action("ListAll", "NWDEnvironmentDevEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Development
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDEnvironmentDevEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDEnvironmentPlayTestEdition" data-url='@Url.Action("ListAll", "NWDEnvironmentPlayTestEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Playtest
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDEnvironmentPlayTestEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDEnvironmentQualificationEdition" data-url='@Url.Action("ListAll", "NWDEnvironmentQualificationEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Qualification and production
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDEnvironmentQualificationEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDEnvironmentPreProductionEdition" data-url='@Url.Action("ViewAll", "NWDEnvironmentPreProductionEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Preproduction
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDEnvironmentPreProductionEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDEnvironmentProductionEdition" data-url='@Url.Action("ViewAll", "NWDEnvironmentProductionEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Production
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDEnvironmentProductionEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDEnvironmentPostProductionEdition" data-url='@Url.Action("ViewAll", "NWDEnvironmentPostProductionEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Postproduction and After Sales Service
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDEnvironmentPostProductionEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="card" id="NWDProjectRoleEdition" data-url='@Url.Action("ListAll", "NWDProjectRoleEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Roles
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDProjectRoleEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="card" id="NWDProjectServiceEdition" data-url='@Url.Action("ListAll", "NWDProjectServiceEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Services
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDProjectServiceEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDPlayerClassConstructionEdition" data-url='@Url.Action("ListAll", "NWDPlayerClassConstructionEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Player classes construction
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDPlayerClassConstructionEdition');
                });
            </script>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card" id="NWDStudioClassConstructionEdition" data-url='@Url.Action("ListAll", "NWDStudioClassConstructionEdition")?sDictionaryToSelect=@tDicoJson'>
        <div class="card-header border-bottom background-corner-3">
            <div class="card-title">
                Studio classes construction
            </div>
        </div>
        <div id="spinner" class="card-body border-bottom text-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div id="content_to_replace" class="justify-content-center">
            <script>$(document).ready(function () {
                startRequestAndReplaceContent('NWDStudioClassConstructionEdition');
                });
            </script>
        </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="card">
        <div class="card-header mb-3 border-bottom background-corner-1">
            <div class="card-title">
                Project configuration
            </div>
            <p class="fs--1">
                Document compliant with European rights. Complies with French, European and American legislation
            </p>
        </div>
        <div class="card-body position-relative">
            <div class="row">
                <div class="col-lg-8">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="card">
        <div class="card-header d-flex flex-between-center pb-0">
            <h6 class="mb-0">
                <span class="fs-1 bi-info-circle me-2"></span> rerzrezrezer
            </h6>
        </div>
        <div class="card-body">
            @if (tModel != null)
            {
                foreach (PropertyInfo tProp in tModel.GetProperties(BindingFlags.Public | BindingFlags.Instance))
                {
                    NWDWebPropertyDescriptionAttribute? tAttribut = tProp.GetCustomAttribute<NWDWebPropertyDescriptionAttribute>();
                    if (tAttribut != null)
                    {
                        if (tAttribut.Infos.IsPrimaryColumn == true)
                        {
                            if (tAttribut.Infos.Style == NWDWebEditionStyle.RichText)
                            {
                                string? tValue = (string?)tProp.GetValue(tResultToUse, null);
                                <h2>@Html.Raw(tValue)</h2>
                            }
                            else if (tAttribut.Infos.Style == NWDWebEditionStyle.Text)
                            {
                                string? tValue = (string?)tProp.GetValue(tResultToUse, null);
                                <h2>@tValue</h2>
                            }
                        }
                        else
                        {
                            switch (tAttribut.Infos.Style)
                            {
                                case NWDWebEditionStyle.Text:
                                {
                                    string? tValue = (string?)tProp.GetValue(tResultToUse, null);
                                    <div>@tValue</div>
                                }
                                    break;
                                case NWDWebEditionStyle.RichText:
                                {
                                    string? tValue = (string?)tProp.GetValue(tResultToUse, null);
                                    <div>@Html.Raw(tValue)</div>
                                }
                                    break;
                                case NWDWebEditionStyle.Bool:
                                {
                                    bool? tValue = (bool?)tProp.GetValue(tResultToUse, null);
                                    if (tValue == true)
                                    {
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" disabled="" checked=""/><label class="form-check-label">@tAttribut.Infos.Placeholder</label> <span>(@tValue.ToString())</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" disabled=""/><label class="form-check-label">@tAttribut.Infos.Placeholder</label> <span>(@tValue.ToString())</span>
                                        </div>
                                    }
                                }
                                    break;
                            }
                        }
                    }
                }
            }
        </div>
    </div>
</div>
</div>
</div>