@using NWDServerShared.Configuration
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Commit" content="CI_COMMIT_SHA">
    <meta name="job" content="CI_JOB_ID">
    <meta name="job date time" content="PipelineDate">
    <meta name="error page" content="PAGE_ERROR">
    <meta name="pipeline ID" content="CI_PIPELINE_ID">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title  -->
    <!-- ===============================================-->
    <title>@NWDServerConfiguration.KConfig.Ip</title>
    <!-- ===============================================-->
    <!--    Favicons     -->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.net-worked-data.com/error-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.net-worked-data.com/error-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.net-worked-data.com/error-favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.net-worked-data.com/error-favicon-48x48.png">
    <!-- ===============================================-->
    <!--    Stylesheets    -->
    <!-- ===============================================-->
    <link href="https://www.net-worked-data.com/error-theme.min.css" rel="stylesheet" id="style-default">
    <link href="https://www.net-worked-data.com/error-site.css" rel="stylesheet" id="website-style">
    <link href="https://www.net-worked-data.com/error-NetWorkedData.css" rel="stylesheet" id="nwd-style">
    <link href="https://www.net-worked-data.com/error-Error.css" rel="stylesheet" id="error-style">
</head>
<body>
<!-- ===============================================-->
<!--    Main Content  -->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid" data-layout="container">
        <div class="row flex-center min-vh-100 py-6 text-center">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <img class="rounded" src="https://www.net-worked-data.com/error-favicon-48x48.png" alt="error">
                    </div>
                    <div class="card-body border-bottom">
                        <div class="mb-3 text-800 ">
                            You are on one server of service (@NWDServerConfiguration.KConfig.Ip) of the awesome framework <a href="https://www.net-worked-data.com" style="white-space:nowrap;">Net-Worked-Data</a>.<br/> To use <a href="https://www.net-worked-data.com" style="white-space:nowrap;">Net-Worked-Data</a> you need be registered and create project on <a href="https://www.net-worked-data.com" style="white-space:nowrap;">www.Net-Worked-Data.com</a>
                        </div>
                        <hr>
                        <div class="d-flex flex-center">
                            <a class="btn btn-sm btn-outline-primary" href="https://www.net-worked-data.com"><span class="bi bi-back"></span> Discover <span style="white-space:nowrap;">Net-Worked-Data</span></a>
                        </div>
                    </div>
                </div>
                <div class="text-sm-center text-400">
                    @NWDServerConfiguration.KConfig.CommitHash @NWDServerConfiguration.KConfig.Job @NWDServerConfiguration.KConfig.PipelineDate
                </div>
                <div class="text-sm-center text-500"  style="white-space:nowrap;">
                    www.net-worked-data.com © idéMobi @DateTime.Now.Year.ToString()
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content  -->
<!-- ===============================================-->
</body>
</html>