@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using NWDWebEditor.Models

@model NWDFindAccountByEmailModel

<div class="dico-form">
    @using (Html.BeginForm("FindAccountByEmail", "NWDAdmin"))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Email, new { @class = "" })</td>
                <td>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Reference, new { @class = "" })</td>
                <td>
                    @Model.Reference
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Trouver" />
                </td>
            </tr>
        </table>
    }
</div>