@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NWDWebRuntime.Configuration
@using NWDWebRuntime.Models
@using NWDWebRuntime.Tools
@using NWDWebStandard.Configuration
@using NWDWebStandard.Controllers

@inject IHttpContextAccessor HttpContextAccessor

@model NWDWebRuntime.Models.NWDAccountSignUp
@if (HttpContextAccessor.HttpContext != null)
{

    @using (Html.BeginForm(nameof(NWDAccountController.SignUp), NWDToolBox.GetController(@HttpContextAccessor.HttpContext)))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden(nameof(NWDAccountSignUp.AccountSignUpController), NWDToolBox.GetController(@HttpContextAccessor.HttpContext))
        @Html.Hidden(nameof(NWDAccountSignUp.AccountSignUpAction), NWDToolBox.GetAction(@HttpContextAccessor.HttpContext))

        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-8 py-3 position-relative">
                <img class="bg-auth-circle-shape" src="~/decorations/circles-1.png" alt="" width="250"><img class="bg-auth-circle-shape-2" src="~/decorations/circles-2.png" alt="" width="150">
                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <div class="col-md-5 text-center bg-primary">
                                <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                                    <div class="bg-holder bg-primary background-half-circle background-animated">
                                    </div>
                                    <div class="z-index-1 position-relative">
                                        <a class="link-light mb-3 font-sans-serif fs-1 d-inline-block fw-bolder" href="~/index.html">@NWDWebStandardConfiguration.KConfig.WebSiteShortName</a>
                                        <p class="opacity-75 text-white">@NWDWebStandardConfiguration.KConfig.SignHook</p>
                                    </div>
                                </div>
                                <div class="mt-3 mb-4 mt-md-4 mb-md-5 light">
                                    <p class="pt-3 text-white">Have an account?<br><a class="btn btn-outline-light mt-2 px-4" asp-area="" asp-controller="NWDAccount" asp-action="SignInForm">Sign-in</a></p>
                                    <p class="mb-0 mt-4 mt-md-5 fs--1 fw-semi-bold text-white opacity-75">
                                        Read our <a class="text-decoration-underline text-white" asp-area="" asp-controller="NWDPrivacy" asp-action="TermsOfService">terms of service</a> and <a class="text-decoration-underline text-white" asp-area="" asp-controller="NWDPrivacy" asp-action="TermsAndConditions"> conditions</a>. <br />
                                        We respect your <a class="text-decoration-underline text-white" asp-area="" asp-controller="NWDPrivacy" asp-action="PrivacyPolicy">privacy </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <h3>Account sign-up</h3>
                                    @if (NWDWebStandardConfiguration.KConfig.AddAccountSignEmailPassword == true)
                                    {
                                        <div class="mb-3">
                                            @Html.LabelFor(m => m.AccountSignUpEmail, new { @class = "form-label" })
                                            @Html.TextBoxFor(m => m.AccountSignUpEmail, new { @type="email", @class = "form-control", @placeholder = "email" })
                                            @Html.ValidationMessageFor(m => m.AccountSignUpEmail, null, new { @class = "hide-if-empty alert alert-warning mt-1 p-3 pt-1 pb-1" }, "div")
                                        </div>
                                        <div class="row gx-2">
                                            <div class="mb-3 col-sm-6">
                                                @Html.LabelFor(m => m.AccountSignUpPassword, new { @class = "form-label" })
                                                @Html.PasswordFor(m => m.AccountSignUpPassword, new { @class = "form-control", @placeholder = "password" })
                                            </div>
                                            <div class="mb-3 col-sm-6">
                                                @Html.LabelFor(m => m.AccountSignUpPasswordConfirm, new { @class = "form-label" })
                                                @Html.PasswordFor(m => m.AccountSignUpPasswordConfirm, new { @class = "form-control", @placeholder = "confirm password" })
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.AccountSignUpPassword, null, new { @class = "hide-if-empty alert alert-warning mt-1 p-3 pt-1 pb-1" }, "div")
                                        @Html.ValidationMessageFor(m => m.AccountSignUpPasswordConfirm, null, new { @class = "hide-if-empty alert alert-warning mt-1 p-3 pt-1 pb-1" }, "div")
                                        <div class="form-check">
                                            @Html.CheckBoxFor(m => m.AccountSignUpChecked, new { @class = "form-check-input" })
                                            <label class="form-label" for="@Html.Raw(nameof(NWDAccountSignUp.AccountSignUpChecked))">I accept the <a asp-area="" asp-controller="NWDPrivacy" asp-action="TermsOfService">terms </a>and <a asp-area="" asp-controller="NWDPrivacy" asp-action="TermsAndConditions">conditions</a></label>
                                            @Html.ValidationMessageFor(m => m.AccountSignUpChecked, null, new { @class = "hide-if-empty alert alert-warning mt-1 p-3 pt-1 pb-1" }, "div")
                                        </div>
                                        <div class="form-check ">
                                            @Html.CheckBoxFor(m => m.AccountSignUpRememberMe, new { @class = "form-check-input" })
                                            @Html.LabelFor(m => m.AccountSignUpRememberMe, new { @class = "form-label" })
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-block w-100 mt-3" type="submit" id="@nameof(NWDAccountSignUp)_Submit" name="@nameof(NWDAccountSignUp)_Submit" disabled>Sign-up</button>
                                        </div>
                                    }
                                    @if ((NWDWebStandardConfiguration.KConfig.AddAccountSignEmailPassword) && (NWDWebStandardConfiguration.KConfig.AddGoogleSign == true ||
                                                                                                               NWDWebStandardConfiguration.KConfig.AddFacebookSign == true ||
                                                                                                               NWDWebStandardConfiguration.KConfig.AddDiscordSign == true ||
                               NWDWebStandardConfiguration.KConfig.AddAppleSign == true ||
                               NWDWebStandardConfiguration.KConfig.AddMicrosoftSign == true ||
                               NWDWebStandardConfiguration.KConfig.AddTwitterSign == true ||
                               NWDWebStandardConfiguration.KConfig.AddLinkedInSign == true
                               ))
                                    {
                                        <div class="position-relative mt-4">
                                            <hr class="bg-300">
                                            <div class="divider-content-center">or sign-up with</div>
                                        </div>
                                    }
                                    <div class="row g-2 mt-2">
                                        @if (NWDWebStandardConfiguration.KConfig.AddGoogleSign)
                                        {
                                            <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="@Html.Raw(NWDAccountController.GoogleOAuth_URL())"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> Google</a></div>
                                        }
                                        @if (NWDWebStandardConfiguration.KConfig.AddFacebookSign)
                                        {
                                            <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="@Html.Raw(NWDAccountController.FacebookOAuth_URL())"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> Facebook</a></div>
                                        }
                                        @if (NWDWebStandardConfiguration.KConfig.AddDiscordSign)
                                        {
                                            <div class="col-sm-6"><a class="btn btn-outline-secondary btn-sm d-block w-100" href="@Html.Raw(NWDAccountController.DiscordOAuth_URL())"><span class="fab fa-discord me-2" data-fa-transform="grow-8"></span> Discord</a></div>
                                        }
                                        @if (NWDWebStandardConfiguration.KConfig.AddAppleSign )
                                        {
                                            <div class="col-sm-6"><a class="btn btn-outline-secondary btn-sm d-block w-100" href="@Html.Raw(NWDAccountController.AppleOAuth_URL())"><span class="fab fa-apple me-2" data-fa-transform="grow-8"></span> Apple</a></div>
                                        }
                                        @if (NWDWebStandardConfiguration.KConfig.AddMicrosoftSign )
                                        {
                                            <div class="col-sm-6"><a class="btn btn-outline-secondary btn-sm d-block w-100" href="@Html.Raw(NWDAccountController.MicrosoftOAuth_URL())"><span class="fab fa-microsoft me-2" data-fa-transform="grow-8"></span> Microsoft</a></div>
                                        }
                                        @if (NWDWebStandardConfiguration.KConfig.AddTwitterSign)
                                        {
                                            <div class="col-sm-6"><a class="btn btn-outline-twitter btn-sm d-block w-100" href="@Html.Raw(NWDAccountController.TwitterOAuth_URL())"><span class="fab fa-twitter me-2" data-fa-transform="grow-8"></span> Twitter</a></div>
                                        }
                                        @if (NWDWebStandardConfiguration.KConfig.AddLinkedInSign)
                                        {
                                            <div class="col-sm-6"><a class="btn btn-outline-secondary btn-sm d-block w-100" href="@Html.Raw(NWDAccountController.LinkedInOAuth_URL())"><span class="fab fa-linkedin me-2" data-fa-transform="grow-8"></span> LinkedIn</a></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
            
}
<script>function @NWDAccountSignUp.K_JavaScriptFunction () {
        if (
            $('#@nameof(NWDAccountSignUp.AccountSignUpEmail)').val().length != 0
            && $('#@nameof(NWDAccountSignUp.AccountSignUpPassword)').val().length != 0
            && $('#@nameof(NWDAccountSignUp.AccountSignUpPasswordConfirm)').val().length != 0
            && $('#@nameof(NWDAccountSignUp.AccountSignUpChecked)')[0].checked == true
        ) {
            $('#@nameof(NWDAccountSignUp)_Submit').attr('disabled', false);
        }
        else {
            $('#@nameof(NWDAccountSignUp)_Submit').attr('disabled', true);
        }
    }
    $(document).ready(function () {
        $('#@nameof(NWDAccountSignUp)_Submit').attr('disabled', true);
        $('#@nameof(NWDAccountSignUp.AccountSignUpEmail)').keyup(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        $('#@nameof(NWDAccountSignUp.AccountSignUpPassword)').keyup(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        $('#@nameof(NWDAccountSignUp.AccountSignUpPasswordConfirm)').keyup(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        
        document.getElementById('@nameof(NWDAccountSignUp.AccountSignUpChecked)').addEventListener('click', event => { @NWDAccountSignUp.K_JavaScriptFunction (); });
        
        $('#@nameof(NWDAccountSignUp.AccountSignUpEmail)').change(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        $('#@nameof(NWDAccountSignUp.AccountSignUpPassword)').change(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        $('#@nameof(NWDAccountSignUp.AccountSignUpPasswordConfirm)').change(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        
        $('#@nameof(NWDAccountSignUp.AccountSignUpEmail)').click(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        $('#@nameof(NWDAccountSignUp.AccountSignUpPassword)').click(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        $('#@nameof(NWDAccountSignUp.AccountSignUpPasswordConfirm)').click(function () { @NWDAccountSignUp.K_JavaScriptFunction (); });
        
        @NWDAccountSignUp.K_JavaScriptFunction ();
        
        setTimeout("@NWDAccountSignUp.K_JavaScriptFunction ()", "3000");
    });</script>